settings.json
data/
data-dev/
__pycache__/
*.pyc
.DS_Store
*.png
*.jpg
*.jpeg
*.gif

bin/
dist/
*.exe
*.spec
debug_logs.txt
debug_stderr.txt
settings.dev.json

bin/
dist/
*.exe
*.spec
debug_logs.txt
debug_stderr.txt
settings.dev.json
